[submodule "aur/bettbox-compatible-bin"]
	path = aur/bettbox-compatible-bin
	url = ssh://aur@aur.archlinux.org/bettbox-compatible-bin.git
[submodule "aur/bettbox-compatible"]
	path = aur/bettbox-compatible
	url = ssh://aur@aur.archlinux.org/bettbox-compatible.git
[submodule "aur/bettbox"]
	path = aur/bettbox
	url = ssh://aur@aur.archlinux.org/bettbox.git
